@import './constants.css';

.damage-value {
    color: rgb(255, 29, 29);
    font-size: 3vh;
    background-color: var(--foreground);
}

.hp-value {
    color: rgb(17, 208, 17);
    font-size: 3vh;
    background-color: var(--foreground);
}

.board-square {
    /*background-color: rgb(255, 47, 238);*/
    width: 10vh;
    height: 10vh;
    image-rendering: pixelated;
    position: relative;
}

.board-icon {
    width: 10vh;
    height: 10vh;
}

.light-square {
    background-color: var(--square-2);
}

.dark-square {
    background-color: var(--square);
}

.board-row {
    /*background-color: greenyellow;*/
    display: flex;
}

.stats {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--foreground);
    color: var(--text);
    border: none;
    padding: 1vw;
    border-radius: 0.5vw;
}

.board {
    /* background-color: rgb(255, 47, 85); */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground);
    color: var(--text);
    padding: 1vw;
    border-radius: 0.5vw;
    z-index: 1;
    text-align: center;
    font-size: 1vw;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground);
    color: var(--text);
    padding: 1vw;
    border-radius: 0.5vw;
    text-align: center;
}

button {
    margin: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
    font-size: inherit;
    background-color: var(--foreground-2);
    color: var(--text);
    border: none;
}

button:hover {
    background-color: var(--foreground);
}

.toggle {
    /*background-color: red;*/
    display: block;
    width: 60px;
    height: 30px;
}

.toggle input {
    opacity: 0;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.toggle input {
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--foreground);
    border-radius: 30px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background);
    border-radius: 50%;
    transition: .3s;
}

.toggle input:checked+.slider:before {
    transform: translateX(30px);
}

body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

input[type="text"] {
    padding: 0.5vw;
    border: none;
    border-bottom: 2px solid var(--text);
    background-color: transparent;
    color: var(--text);
    width: 80%;
    font-size: 1vw;
}